body, h1, h2 {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    background-color: #fff; /* Set the background color for the entire page */
}

header {
    background-color: #063859; /* Set the background color for the header */
    padding: 10px;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo-section img {
    height: 60px;
    margin-right: 10px;
}

.HeaderLogo {
    font-size: 10px;
}

.HeaderLogo h1 {
    margin: 0; /* Remove default margin */
}

.HeaderLogo p {
    margin: 0;
    font-size: 14px;
    color: #ccc;
}

.topnav {
    overflow: hidden;
    text-align: center; /* Center-align the navigation links */
}

.topnav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: background-color 0.3s; 
    border-radius: 10px;/* Smooth transition for hover effect */
}

.topnav a:hover {
    background-color:#2165b2;/* Orange color on hover */
}

.topnav a.active {
    background-color:  #1c50a3; /* Orange color when clicked */
}
h2{
    color:rgb(61, 57, 57);
    font-size:100px;
}.features-section {
    text-align: center;
    padding: 50px;
    background-color: #43a6e9; /* Set background color for the features section */
    color: white;
 }
 
 .features-section h2 {
    font-size: 30px;
    margin-bottom: 30px;
 }
 
 .feature {
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;

 }
 .feature:hover {
    transform: scale(1.05);
}
 
 .feature img {
    max-width: 20%;
    height: auto;
    border-radius: 8px; /* Optional: Add a border-radius to the images for a rounded look */
 }
 
 .feature h3 {
    font-size: 24px;
    margin-top: 20px;
 }
 
 .feature p {
    font-size: 16px;
    line-height: 1.5;
 }
 
 